.fss_gp_help
{
    padding-bottom: 6px;
    font-size: 107%;
}
.fss_gp_title
{
    font-size: 115%;
}
.fss_gp_default
{
    font-size: 110%;
    padding-bottom: 6px;
}
.fss_gp_item
{
    padding-left: 12px;
    padding-bottom: 3px;
    font-size: 100%;
}