<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/personal.css" rel="stylesheet" type="text/css" />
</head>

<body>
<center>
<div class="knowledgeleft">
<div class="breadcrumb">
You are here: Home  »  Knowledge Base</div>

<div class="title">Knowledge Base</div>
<div class="title topic">Articles</div>

<!--areticles-->

<div class="article">
	<div class="article-title">Lorem Ipsum is simply dummy text for the title of the article</div>
    <div class="article-postdetails">contirbuted by John Doe on 19 March 2013  |  {15 comments}<br /><br /></div>
    <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetti...<div class="moreread"><a href="#">Read more...</a></div>
    </div>
</div>

<div class="article">
	<div class="article-title">Lorem Ipsum is simply dummy text for the title of the article</div>
    <div class="article-postdetails">contirbuted by John Doe on 19 March 2013  |  {15 comments}<br /><br /></div>
    <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetti...<div class="moreread"><a href="#">Read more...</a></div>
    </div>
</div>
<div class="article">
	<div class="article-title">Lorem Ipsum is simply dummy text for the title of the article</div>
    <div class="article-postdetails">contirbuted by John Doe on 19 March 2013  |  {15 comments}<br /><br /></div>
    <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetti...<div class="moreread"><a href="#">Read more...</a></div>
    </div>
</div>


</div>




<div class="knowledgeright">


<!-- Images -->
<div class="realestate"> Images
</div>


<!--Testiminials-->

	<div class="testi_wrap">
		
        <div class="title">Testimonials</div>
               <!--sdgh-->
               
	<div class="holder">
   
    	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>


 	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>


 	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>


 	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>

    	
    
        </div>	
    
    
    
    
	</div>
    
    <div class="seeall"><a href="#">See all...</a></div>





</div>



</center>

</body>
</html>
