<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/personal.css" rel="stylesheet" type="text/css" />
</head>

<body>
<center>
<div class="knowledgeleft">
<div class="breadcrumb">
You are here: Home  »  Knowledge Base</div>

<div class="title">Knowledge Base</div>
<div class="title topic">Articles</div>

<!--areticles-->

<div class="article">
	<div class="article-title">Q. Lorem Ipsum is simply dummy text for the very first question?</div>
    <div class="description"><span>A.</span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam </div>
    </div>
   
    
</div>


</div>




<div class="knowledgeright">


<!-- Images -->
<div class="realestate"> Images
</div>


<!--Testiminials-->

	<div class="testi_wrap">
		
        <div class="title">Testimonials</div>
               <!--sdgh-->
               
	<div class="holder">
   
    	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>


 	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>


 	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>


 	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>

    	
    
        </div>	
    
    
    
    
	</div>
    
    <div class="seeall"><a href="#">See all...</a></div>





</div>



</center>

</body>
</html>
