<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/personal.css" rel="stylesheet" type="text/css" />
</head>

<body>
<center>
<div class="knowledgeleft">
<div class="breadcrumb">
You are here: Home  »  Knowledge Base</div>

<div class="title">Knowledge Base</div>
<div class="title topic">Glossary</div>

<!--areticles-->

<div class="article">
    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<BR /><BR /></div>
    
    <div class="glossary">
    <ul>
    <li><a href="#">A</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">C</a></li>
    <li><a href="#">D</a></li>
    <li><a href="#">E</a></li>
    <li><a href="#">F</a></li>
    <li><a href="#">G</a></li>
    <li><a href="#">H</a></li>
    <li><a href="#">I</a></li>
    <li><a href="#">J</a></li>
    <li><a href="#">K</a></li>
    <li><a href="#">L</a></li>
    <li><a href="#">M</a></li>
    <li><a href="#">N</a></li>
    <li><a href="#">O</a></li>
    <li><a href="#">P</a></li>
    <li><a href="#">Q</a></li>
    <li><a href="#">R</a></li>
    <li><a href="#">S</a></li>
    <li><a href="#">T</a></li>
    <li><a href="#">U</a></li>
    <li><a href="#">V</a></li>
    <li><a href="#">W</a></li>
    <li><a href="#">X</a></li>
    <li><a href="#">Y</a></li>
    <li class="last"><a href="#">Z</a></li>
    
    </ul>
    </div>
    </div>
  
  <div class="glossary">
  
  <span>Accusamus </span>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.<br /><br />
  <span>Autem</span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.<br /><br />
  <span>Accusamus </span>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.<br /><br />
  <span>Autem</span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.<br /><br />
  <span>Accusamus </span>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.<br /><br />
  <span>Autem</span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.<br /><br />
  
  
  </div>  
    
    
    
</div>


</div>




<div class="knowledgeright">


<!-- Images -->
<div class="realestate"> Images
</div>


<!--Testiminials-->

	<div class="testi_wrap">
		
        <div class="title">Testimonials</div>
               <!--sdgh-->
               
	<div class="holder">
   
    	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>


 	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>


 	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>


 	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>

    	
    
        </div>	
    
    
    
    
	</div>
    
    <div class="seeall"><a href="#">See all...</a></div>





</div>



</center>

</body>
</html>
