<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/personal.css" rel="stylesheet" type="text/css" />
</head>

<body>
<center>
<div class="knowledgeleft">
<div class="breadcrumb">
You are here: Home  »  Knowledge Base</div>

<div class="title">Knowledge Base</div>

<!--boxes-->
<div class="boxwrap">
<div class="image_title"><img src="images/articles.gif"/><br />Articles</div>

<div class="content">Displays a list of short frequently asked questions with various visual options available that can be organised by product and/or category <br /><div class="moreread"><a href="#">Read more...</a></div></div>

</div>

<!--boxes-->
<div class="boxwrap">
<div class="image_title"><img src="images/faq.gif" /><br />FAQ's</div>

<div class="content">Displays a list of short frequently asked questions with various visual options available that can be organised by product and/or category<br /><div class="moreread"><a href="#">Read more...</a></div></div>

</div>

<!--boxes-->
<div class="boxwrap">
<div class="image_title"><img src="images/glossary.gif" /><br />Glossary</div>

<div class="content">Displays a list of short frequently asked questions with various visual options available that can be organised by product and/or category<br /><div class="moreread"><a href="#">Read more...</a></div></div>

</div>



</div>




<div class="knowledgeright">


<!-- Images -->
<div class="realestate"> Images
</div>


<!--Testiminials-->

	<div class="testi_wrap">
		
        <div class="title">Testimonials</div>
               <!--sdgh-->
               
	<div class="holder">
   
    	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>


 	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>


 	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>


 	<div class="testimonial">Cras in nulla sit amet elit lacinia viverra ut in augue. Fusce sit amet orci dolor.
        <span>Posted</span></div>

    	
    
        </div>	
    
    
    
    
	</div>
    
    <div class="seeall"><a href="#">See all...</a></div>





</div>



</center>

</body>
</html>
