.icon-48-homeconnects {
      background-image: url(../images/l_homeconnects.png);
      padding-left:60px!important;
}

.icon-48-homeconnect {
      background-image: url(../images/l_homeconnects.png);
      padding-left:60px!important;
}

